

body {

     background-image:url("520976858.jpg");
     margin-top:50px;
     margin-bottom: 119px;
     padding-top:30px ;
     padding-bottom: 69px;
     padding-left: 30px;
     padding-right: 30px;

 }
 
 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
 
}
 
 .img-circle {
    border-radius: 50%;
     height: 200px;
     
 }
 
 
 .center {
     text-align: center;
     
 }
 
 

 

