body {
  

     margin-top:50px;
     margin-bottom: 119px;
     padding-top:30px ;
     padding-bottom: 69px;
     padding-left: 30px;
     padding-right: 30px;

 }
 
 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
 
}
 
 .img-circle {
    border-radius: 50%;
     height: 200px;
     
 }
 
 
 .center {
     text-align: center;
     
 }
 
 
html {
background:url('https://www.google.co.in/search?q=background+images&espv=2&biw=1301&bih=678&tbm=isch&imgil=ZmWcZ1UOePDW_M%253A%253BgBSzPH4jB0FLSM%253Bhttp%25253A%25252F%25252Fwww.istockphoto.com%25252Fphotos%25252Fbackgrounds&source=iu&pf=m&fir=ZmWcZ1UOePDW_M%253A%252CgBSzPH4jB0FLSM%252C_&usg=__MteWHzoIbwlg1NOOqHf-icyHIMs%3D&ved=0ahUKEwio6Jyeo8vQAhVIOJQKHQEnCHUQyjcIMg&ei=Ugs8WKj3LMjw0ASBzqCoBw') no-repeat center center fixed;
background-size: 100% auto;
-webkit-background-size: 100% auto;
-moz-background-size: 100% auto;
-o-background-size: 100% auto;
 

