body {
     font-family: sans-serif;
     background-color: blue;
     margin-top:50px;
     margin-bottom: 119px;
     padding-top:30px solid #000;
     padding-bottom: 69px;
     padding-left: 30px;
     padding-right: 30px;

 }
 
h1 { color: #CEF0D4; font-family: 'Rouge Script', cursive; font-size: 130px; font-weight: normal; line-height: 48px; margin: 0 0 50px; text-align: center; text-shadow: 1px 1px 2px #082b34; }


h2 { color: #a7e8f8; font-family: 'Julius Sans One', sans-serif; font-size: 22px; font-weight: bold; line-height: 32px; margin: 0 0 24px; text-shadow: 1px 1px 1px #082b34; }


p { color: #FFFFFF; font-family: 'Carme', sans-serif; font-size: 16px; line-height: 24px; margin: 0 0 24px; }


a { color: #CEF0D4; text-decoration: underline; }


a:hover { color: #a7e8f8; text-decoration: underline; }
