body {
     font-family: sans-serif;
     background-color: lightgrey;
     margin-top:50px;
     margin-bottom: 119px;
     padding-top:30px solid #000;
     padding-bottom: 69px;
     padding-left: 30px;
     padding-right: 30px;

 }
 
 
 .center {
     text-align: center;
 }
 
 .text-big {
     font-size: 300%;
 }
 
 .bold {
     font-weight: bold;
 }
 
 .img-medium {
     height: 200px;
 }
 
 

