body {
     font-family:sans-serif;
     margin-top:50px;
     margin-bottom: 119px;
     padding-top:30px ;
     padding-bottom: 69px;
     padding-left: 30px;
     padding-right: 30px;

 }
 
 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
 
}
 
 .center {
     text-align: center;
 }
 
 .text-big {
     font-size: 300%;
 }
 
 .bold {
     font-weight: bold;
 }
 
 .img-medium {
     height: 200px;
 }
 
 .img-circle {
    border-radius: 50%;
     height: 200px;
     
 }
 
 
 .footer {
  color: #fff;
  clear: both;
  margin: 0em 0em 0em 0em;
  padding: 0.75em 0.75em;
  background: #000;
  position: relative;
  top: 300px;
  border-top: 1px solid #000;
}
 


p.byline { font-style: italic; color: #B6B6B6; font-size: 24px; margin-top: 20px; text-align: center; text-shadow: 0 1px 1px #fff; }

 
 

