body {
     font-family: sans-serif;
     background-color: lightgrey;
     margin-top:auto;
     margin-bottom: 119px;
     padding-top:30px solid #000;
     padding-bottom: 69px;
     padding-left: 30px;
     padding-right: 30px;

 }
 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}
 
 .center {
     text-align: center;
 }
 
 .text-big {
     font-size: 300%;
 }
 
 .bold {
     font-weight: bold;
 }
 
 .img-medium {
     height: 200px;
 }
 
 

